<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style/base.css">
<script src="./base.js"></script>

<body>
  <header class="header">
    <a href="#Home">Logo</a>
    <a href="#about" class="split">Sign in/Sign Out</a>
  </header>
  <div class="container">
    <div class="sidebar" data-sidebar>
      <div class="middle-sidebar">
        <ul class="sidebar-list">
          <button class="menu-icon-btn" data-menu-icon-btn>
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-icon">
              <g>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </g>
            </svg>
          </button>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" class="sidebar-icon" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path
                    d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8 12.5v-9l6 4.5-6 4.5z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Content</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg class="sidebar-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false">
                <g>
                  <path d="M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15-2v6l5-3-5-3z"></path>
                </g>
              </svg>
              <div class="hidden-sidebar">Playlists</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="sidebar-icon">
                <g>
                  <path
                    d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z">
                  </path>
                </g>
              </svg>
              <div class="hidden-sidebar">Analytics</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rem ipsum
      porro delectus ipsa placeat modi aut non blanditiis, consequatur earum
      provident atque quaerat. Sint veniam facere minima nostrum
      exercitationem sit iste placeat iure non officia adipisci porro
      similique dolorum vero temporibus corrupti, incidunt, fugit recusandae.
      Eos voluptas ipsam reprehenderit fugit ad obcaecati ipsum ratione
      officiis ipsa. Voluptas nam modi, commodi rerum repellendus quae amet,
      illum expedita esse quis officiis impedit cumque deserunt ipsum
      asperiores corrupti nulla repudiandae atque mollitia soluta sit ea? A
      ratione voluptatem sapiente excepturi possimus, ad, atque repellat
      iusto, architecto iste commodi ut? Cupiditate aliquid quae ad quaerat
      maxime, ut recusandae perferendis tempore itaque reiciendis fugiat, odio
      ea vero non illo voluptatibus laborum! Dolore molestias ab hic? Dolorem,
      eveniet dolores non at voluptatum laudantium recusandae sapiente
      reprehenderit soluta maxime provident vero vel maiores aperiam ullam eum
      necessitatibus quibusdam? Corrupti necessitatibus corporis et, dolore
      reiciendis dolorum dolor earum recusandae incidunt optio nostrum
      accusantium? Dignissimos et modi adipisci illo labore rerum! Sed libero
      doloremque repellendus quaerat iste veniam, error adipisci sint porro
      exercitationem obcaecati eum, perspiciatis illo aliquam enim debitis
      assumenda reiciendis architecto repudiandae sequi velit! Quos ad enim
      sapiente autem incidunt debitis. Quaerat nam praesentium, beatae iste
      vel consectetur doloremque laboriosam asperiores hic nobis assumenda
      laudantium amet illum, repellat facere enim sequi reprehenderit at et!
      Expedita blanditiis nulla vitae corporis pariatur eius tenetur fuga,
      natus cumque autem similique soluta voluptate excepturi esse dolores
      deleniti ducimus illo exercitationem! Suscipit perferendis debitis ad
      reiciendis nesciunt, maxime magni labore fugiat soluta perspiciatis
      commodi, veniam illo nihil magnam exercitationem at, itaque consectetur
      unde modi accusantium similique. Cum fugit maiores enim, tempora culpa
      aliquam accusamus debitis consequuntur libero, sed voluptate distinctio
      voluptatum impedit praesentium incidunt? Placeat laboriosam sunt tenetur
      quod beatae eum unde error eos repellat! Eaque eius rerum porro dolore,
      cupiditate quisquam vel. Ipsam, quos accusantium incidunt fugit
      explicabo minus aliquid sed ullam sapiente, quo facilis dolorem
      excepturi sunt nam corporis, amet perferendis repellat eum
      reprehenderit! Autem cum alias veritatis consequuntur harum aspernatur
      culpa, aliquid voluptas natus in repellendus at rem tenetur praesentium
      dolores, et minima. Doloribus reprehenderit fugiat dolores tempora
      repudiandae id officiis aperiam, a quaerat alias corrupti praesentium
      totam in obcaecati aspernatur aliquid odio velit quo necessitatibus,
      maiores veritatis quidem nisi recusandae! Accusantium non dolorem natus
      eaque dicta sed impedit esse sit obcaecati laudantium dolore magni,
      excepturi cum amet perspiciatis! Dolor cumque excepturi voluptas
      tenetur! Accusamus, officia amet unde eos sit est sapiente neque nobis
      quos rerum accusantium, debitis quisquam obcaecati? Sit provident sint
      dolore ipsum voluptas modi aut eligendi quibusdam natus est ex quasi
      culpa, iste iure enim quisquam vero dicta aspernatur. Placeat harum
      dolores sapiente porro ut. Iusto, dolores earum sed perferendis, illum
      aliquam est necessitatibus, nesciunt laborum sunt exercitationem nostrum
      blanditiis neque suscipit ipsam? Quas ea dicta nihil, natus
      necessitatibus blanditiis praesentium iure consequuntur voluptatem
      perferendis, neque iusto commodi officia minima ipsa eligendi tempora
      laborum tenetur, quaerat atque fugit accusantium minus impedit. Quaerat
      impedit officiis odit aliquam animi, magni delectus eius sunt fuga. Ipsa
      doloremque doloribus eveniet iusto velit quod repellat tenetur
      consequatur aliquid sapiente beatae voluptates quaerat fugit ratione
      odio sint, adipisci earum obcaecati quisquam. Ratione similique tempora
      cumque eos ducimus sunt veritatis eius distinctio maxime rerum aut
      voluptatibus temporibus, eum cum ex neque sint non facere, eligendi
      officia. Consequuntur reprehenderit, ipsa ex quod necessitatibus ratione
      nemo illo doloremque saepe perferendis cupiditate praesentium
      consectetur provident totam inventore exercitationem, dolorem
      accusantium debitis voluptates amet sunt odit. At reprehenderit illum,
      sed fuga a cupiditate amet dolorem, non eos nobis eaque recusandae
      facere saepe esse. Magnam incidunt, eveniet ipsa et, ea assumenda in
      repudiandae omnis itaque voluptatum quibusdam atque, reprehenderit totam
      quis saepe quod obcaecati cumque ratione perferendis eaque corporis
      doloremque! Sed maiores iure aliquam unde similique amet eveniet
      sapiente cupiditate, deserunt quia repudiandae, voluptates numquam ipsa
      cumque perspiciatis facilis tempora! Esse consectetur modi libero
      incidunt tenetur, nisi voluptas quasi ratione eligendi nostrum itaque,
      excepturi veritatis delectus. Vero dolorum optio accusantium, quaerat
      aut iure beatae explicabo quas amet dolores cupiditate eveniet magni
      facere, vel consectetur repudiandae nesciunt voluptates consequatur ad
      facilis distinctio neque blanditiis illum unde! Est sit consectetur
      delectus quos labore! Eius expedita hic repellendus. Reprehenderit
      suscipit fugit cum id vero, consequatur expedita sint quae sit, pariatur
      aspernatur harum cupiditate debitis tempora magnam quod praesentium
      autem asperiores. Modi, architecto. Non nostrum sint porro minus itaque
      neque quas. Minus nihil enim eveniet. Obcaecati error provident id,
      temporibus molestiae consequuntur cumque odit, consectetur ducimus dolor
      illum vel illo numquam nam minima quisquam minus debitis eius fuga. Illo
      culpa id assumenda ipsam? Nemo accusantium quibusdam fugiat adipisci
      expedita nostrum iste eum quas, animi sequi quaerat sint aspernatur
      tenetur maiores saepe quidem? Ab reprehenderit cum quae quidem ullam
      repellendus vel aliquid ipsam veritatis quaerat. Repellendus, recusandae
      adipisci aperiam est dolorum quos, obcaecati repudiandae optio esse nemo
      eveniet id accusantium maxime architecto. Praesentium corporis
      architecto, pariatur fugit quam ducimus exercitationem a sit et
      cupiditate facere est eum ipsa ut illo. Corrupti eum id quo quisquam.
      Sequi eaque veniam quam fuga error explicabo, distinctio beatae quasi
      doloribus consequuntur maxime. Libero inventore labore in obcaecati
      doloribus voluptas facilis cumque atque voluptatem magnam ex tempore,
      necessitatibus corporis, velit ut modi eligendi, qui explicabo eaque sit
      cum illum. Ipsum delectus numquam quisquam adipisci velit ad laboriosam
      cum ab. Saepe at perspiciatis ratione nostrum ipsam voluptas incidunt
      inventore libero dolores blanditiis nemo, eos esse earum neque
      recusandae? Ab quidem temporibus similique commodi asperiores tempore
      reprehenderit accusamus. Reiciendis suscipit ullam alias sint impedit
      labore laudantium vel. Ratione, sequi quam? Adipisci quidem doloribus
      dignissimos omnis ad optio ex, numquam aperiam aut rerum, sequi dolorum
      natus tempora quis? Assumenda corrupti reprehenderit rerum aut eos
      numquam optio unde necessitatibus omnis perferendis iusto, perspiciatis
      quis eaque possimus asperiores veniam placeat temporibus eveniet ratione
      minima pariatur sequi! Neque doloremque sunt dolor repudiandae,
      similique asperiores. Totam, ipsum cupiditate! Facere quidem aliquid
      illum magni deleniti at et necessitatibus tempora. Suscipit iusto, odit
      alias distinctio aspernatur voluptates, eveniet, ipsam ducimus nam harum
      ad iste? Molestias odit distinctio aspernatur odio obcaecati perferendis
      maxime, excepturi et explicabo sed?
    </div>
  </div>
  <footer class="footer">
    <p>Footer</p>
  </footer>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]")
const sidebar = document.querySelector("[data-sidebar]")

menuIconButton.addEventListener("click", () => {
  sidebar.classList.toggle("open")
})
  </script>
</body>

</html>