<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style/base.css">
<script src="./base.js"></script>

<body>
  {{!-- nav --}}
  <header class="header">
    <button class="menu-icon-btn" data-menu-icon-btn>
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="menu-icon">
        <g>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </g>
      </svg>
    </button>
    <div class="split"></div>
    <img class="logo" src="/images/logo_header.png" alt="vino logo">
    <a href="#about" class="split">Sign in/Sign Out</a>
  </header>
  {{!-- content of body --}}
  <div class="container">
    <div class="sidebar" data-sidebar>
      <div class="middle-sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <img class="icon" src="/images/shipment_icon.png" alt="shipment icon">
              <div class="hidden-sidebar">Shipment</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link">
              <img class="icon" src="/images/order_icon.png" alt="order icon">
              <div class="hidden-sidebar">Order</div>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" class="sidebar-link accordion">
              <img class="icon" src="/images/product_icon.png" alt="product icon">
              <div class="hidden-sidebar">Product</div>
            </a>
            <div class="panel">
              <ul>
                <li>
                  <a class="productTags" href=""> Categories </a>
                </li>
                <li>
                  <a class="productTags" href=""> Bottle Sizes </a>
                </li>
                <li>
                  <a class="productTags" href=""> Origin Countries </a>
                </li>
                <li>
                  <a class="productTags" href=""> Regions </a>
                </li>
                <li>
                  <a class="productTags" href=""> Grape Varietal </a>
                </li>
                <li>
                  <a class="productTags" href=""> Producers </a>
                </li>
                <li>
                  <a class="productTags" href=""> Products </a>
                </li>
              </ul>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      {{#block "content"}}{{/block}}
    </div>
  </div>
  {{!-- footer --}}
  <footer class="footer">
    <p>Footer</p>
  </footer>
  <script>
    const menuIconButton = document.querySelector("[data-menu-icon-btn]")
    const sidebar = document.querySelector("[data-sidebar]")

    menuIconButton.addEventListener("click", () => {
      sidebar.classList.toggle("open")
    })
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
</body>

</html>