/* custom fonts */
@font-face {
    font-family: Catamaran;
    src: url("/public/fonts/catamaran.ttf");
}

@font-face {
    font-family: Cinzel;
    src: url("/public/fonts/cinzel.ttf");
}

body {
    font-family: 'Cinzel' !important;
    margin: 0;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran' !important;
    color: #b1af6a
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: #909090;
    --dark-gray: rgb(13, 13, 13);
    --hover-color: #b1af6a;
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    position: relative;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
    padding: 0 .5rem;
    height: var(--header-height);
}

.logo {
    position: absolute-center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    align-content: center;
    height: 25px;
}

.header a.split {
    position: absolute;
    right: 25px;
    color: red;
}

.menu-icon-btn {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    left: 25px;
    color: #808080;
}

.menu-icon {
    width: 25px;
    height: 25px;
    fill: var(--medium-gray);
    cursor: pointer;
}

.menu-icon:hover {
    fill: var(--hover-color);
}

.sidebar {
    flex-shrink: 0;
    overflow: hidden;
    width: 75px;
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    justify-content: stretch;
    transition: width var(--animation-duration) var(--animation-timing-curve);
    position: sticky;
    left: 0;
    top: var(--header-height);
}

.middle-sidebar,
.bottom-sidebar {
    width: 100%;
}

.context {
    display: flex;
    height: 100vh;
}

.content {
    margin: 1rem;
    overflow: scroll;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.sidebar-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.sidebar-list .hidden-sidebar {
    margin-left: 1.5rem;
    white-space: nowrap;
}

.sidebar-link {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    color: var(--light-gray);
    text-decoration: none;
    align-items: center;
    padding-left: 20px;
}

.sidebar-list-item {
    position: relative;
    width: 100%;
    fill: var(--light-gray);
}

.sidebar-list-item.active {
    fill: var(--accent-color);
    background-color: var(--lightest-gray);
}

.sidebar-list-item:hover {
    background-color: var(--lightest-gray);
}

.sidebar-list-item.active::before {
    content: "";
    background-color: var(--accent-color);
    height: 100%;
    left: 0;
    width: 3px;
    position: absolute;
}

.sidebar.open {
    width: 220px;
}

.footer {
    display: flex;
    align-items: center;
    position: sticky;
    position: relative;
    bottom: 0;
    background-color: #343130;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
    padding: 0 .5rem;
    height: var(--header-height);
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    color: var(--light-gray);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    display: none;
    overflow: hidden;
    margin-left: 3.5rem;
    white-space: nowrap;
}

.productTags {
    text-decoration: none;
    padding-top: 10px;
    color: #909090;
}

a.hover_green:hover {
    color: #b1af6a !important;
}

#footer {
    background: #343130 !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
/* #footer ul.social li{
	padding: 3px 0;
} */
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

/* .badge-color {
    background-color: #b1af6a !important;
    color: purple !important
} */