{{#extends 'base'}}

{{#block "content"}}
<h3>Updating wine product:</h3>
<form method="POST">
    {{{form}}}
    <div>
        <img src="{{producer.producer_image_url}}" id="uploaded_image" />
    </div>
    <a href="#" class="btn btn-secondary" id="upload_widget">Upload Image</a>
    <input type="submit" class="btn btn-secondary" />
</form>
{{/block}}

{{/extends}}