{{#extends 'base'}}

{{#block 'content'}}
<h1>Category</h1>
<a href="/product-information/category/create" class="btn btn-primary">Add New Category</a>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each category}}
		<tr>
			<td>{{this.id}}</td>
			<td>{{this.name}}</td>
			<td>
				<a href="/product-information/category/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
				<a href="/product-information/category/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/block}}

{{/extends}}