{{#extends 'base'}}

{{#block "content"}}
<h3>Updating Wine Category:</h3>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" class="btn btn-secondary mt-3" />
</form>
{{/block}}

{{/extends}}