{{#extends 'base'}}

{{#block "content"}}
<h3>Listing a new size</h3>
<form method="POST">
    
    {{{form}}}

    <input type="submit" class="btn btn-primary mt-3" />
</form>
{{/block}}

{{/extends}}