{{#extends 'base'}}

{{#block 'content'}}
<h1>Admin login</h1>
<p>Please login to access this website</p>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-secondary mt-3" value="Login" />
</form>
{{/block}}

{{/extends}}