{{#extends 'base'}}

{{#block 'content'}}
<h1>Grape Varietal</h1>
<a href="/product-information/grape-varietal/create" class="btn btn-primary">Add New Grape Varietal</a>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each grape_varietal}}
		<tr>
			<td>{{this.id}}</td>
			<td>{{this.name}}</td>
			<td>
				<a href="/product-information/grape-varietal/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
				<a href="/product-information/grape-varietal/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{/block}}

{{/extends}}